* {
    box-sizing: border-box;
    }
    
    body {
        font-family: arial;
        margin: 0;
    }
    header {
        padding: 40px;
        text-align: center;
        background: #13293d;
        color: white;
    }
    
    nav {
        display: flex;
        background-color: #d8a47f;
    }
    
    nav a {
        color: #13293d;
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
    }
    
    main {
        display: flex;
    flex-wrap: wrap;
    }
    